@import "../../constants.scss";

.newentry-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 75px;

    @media (max-width: $firstBreak) {
        width: 80%;
    }

    .entry-title {
        width: 100%;
        margin: 0 auto;
        font-size: 0.9rem;
        color: $black;
        padding: 20px 0 20px 20%;
        border-left: 2px solid $primaryGreen;

        @media (max-width: $secondBreak) {
            font-size: 0.8rem;
            border-left: none;
            padding-left: 0;
        }

        // @media (max-width: $thirdBreak) {
        //     font-size: 0.8rem;
        // }
    }

    .form-container {

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            border-left: 2px solid $primaryGreen;

            @media (max-width: $secondBreak) {
                border-left: none;
            }
    
            label {
                box-sizing: border-box;
                width: 100%;
                padding-left: 20%;
                color: $grey;
                font-size: 0.8rem;

                @media (max-width: $secondBreak) {
                    padding-left: 0;
                }

                // @media (max-width: $thirdBreak) {
                //     font-size: 0.7rem;
                // }

                input, textarea {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    margin-top: 5px;
                    margin-bottom: 15px;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid $grey;
                    padding: 0 7.5px;
                    font-size: 0.8rem;

                    // @media (max-width: $thirdBreak) {
                    //     font-size: 0.7rem;
                    // }
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $primaryGreen;
                    }
                }

                textarea {
                    padding: 10px 7.5px;
                    line-height: 1.5;
                    height: 60px;
                }

                .input-error-true {
                    border: 1px solid red;
                }
    
                select {
                    box-sizing: border-box;
                    width: 100%;
                    display: block;
                    font-family: "Open Sans";
                    background: white;
                    margin-top: 5px;
                    margin-bottom: 15px;
                    font-size: 0.8rem;
                    height: 40px;

                    // @media (max-width: $thirdBreak) {
                    //     font-size: 0.7rem;
                    // }
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $primaryGreen;
                    }
                }
            }

            button {
                margin-left: 20%;
                font-size: 0.9rem;
                text-decoration: none;
                border: 1px solid $primaryGreen;
                border-radius: 4px;
                padding: 10px 40px;
                font-weight: 600;
                color: white;
                cursor: pointer;
                transition: all 0.2s ease;
                margin-top: 10px;
                outline: none;
                background: $primaryGreen;

                &:hover {
                    background: $darkGreen;
                    border: 1px solid $darkGreen;
                }

                @media (max-width: $secondBreak) {
                    font-size: 0.9rem;
                    margin-left: 0;
                }
            
                @media (max-width: $thirdBreak) {
                    font-size: 0.8rem;
                }
            } //button

            .submission-result {
                margin-left: 20%;
                font-size: 0.8rem;
                margin-top: 10px;
                height: 20px;
                width: 100%;
                font-weight: bold;

                @media (max-width: $secondBreak) {
                    font-size: 0.75rem;
                    margin-left: 0;
                }

                p {
                    width: 100%;
                }

                .error {
                    display: none;
                    color: red;
                }

                .error-true {
                    display: block;
                }

                .success {
                    display: none;
                    color: $primaryGreen;
                }

                .success-true {
                    display: block;
                }
            }
        } //form
    }
}