@import "../../constants.scss";

.directory-container {

    .list-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 3%;

        .item {
            color: $black;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-content {
                margin-bottom: 10px;

                a {
                    color: $primaryGreen;
                    font-size: 1.3rem;
                    text-decoration: none;
                    transition: all 0.2s ease-out;
                    font-weight: bold;
    
                    &:hover {
                        color: $darkGreen;
                    }
                }
    
                p {
                    margin-top: 15px;
                    font-size: 0.8rem;
                    line-height: 1.4;
                    overflow: hidden;
                }
            } //item-content
        
            .separator {
                border-bottom: 1px solid $grey;
            }

        } //item
    }
}