@import "../../constants.scss";

.directory-container {
  width: 70%;
  margin: 0 auto;

  @media (max-width: $firstBreak) {
    width: 80%;
  }

  @media (max-width: $secondBreak) {
    width: 90%;
  }

  h2 {
    text-align: center;
    color: $primaryGreen;
    margin: 75px 0 50px 0;
    font-size: 1.6rem;
    font-weight: bold;

    @media (max-width: $secondBreak) {
      font-size: 1.6rem;
    }

    @media (max-width: $thirdBreak) {
      font-size: 1.3rem;
    }
  }

  .filters {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;

    .filter {
      font-size: 0.8rem;
      font-weight: bold;
      text-decoration: none;
      color: $mediumGrey;
      margin-right: 3%;
      transition: all 0.2s ease-out;

      @media (max-width: $firstBreak) {
        margin-right: 5%;
      }

      @media (max-width: $secondBreak) {
        font-size: 0.8rem;
        margin-right: 6%;
      }

      // @media (max-width: $thirdBreak) {
      //   font-size: 0.7rem;
      // }

      &:hover {
        color: $primaryGreen;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 3%;

    @media (max-width: $firstBreak) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5%;
    }

    @media (max-width: $secondBreak) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      margin: 0;
    }

    .item {
      color: $black;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .item-content {
        margin-bottom: 10px;

        a {
          color: $mediumGrey;
          font-size: 1rem;
          text-decoration: none;
          font-weight: bold;
          transition: all 0.2s ease-out;

          @media (max-width: $secondBreak) {
            font-size: 0.9rem;
          }

          // @media (max-width: $thirdBreak) {
          //   font-size: 0.8rem;
          // }

          &:hover {
            color: $primaryGreen;
          }
        }

        p {
          margin-top: 15px;
          font-size: 0.8rem;
          line-height: 1.4;

          // @media (max-width: $thirdBreak) {
          //   font-size: 0.8rem;
          // }
        }
      } //item-content

      .separator {
        border-bottom: 1px solid lighten($grey, 25%);
      }
    } //item
  }
}
